#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 1s ease;
}

button:active {
    background-color: #45a049
}

h1 {
    text-align: center
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333
}